{% load static%}
<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
         <script src='{% static "js/chart.js" %}'></script>

  <!-- Bootstrap core CSS -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">




</head>

<body>




  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4"></h1>
  </div>

    <!-- Marketing Icons Section -->
    <div class="container mb-3 border">
        <h4>뉴스의 감성 분석</h4>
        <div class="row my-3">
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart1" width="100" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/전체.html'">
                        <h5>전 체</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart2" width="100" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/정치.html'">
                        <h5>정 치</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart3" width="100" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/사회.html'">
                        <h5>사 회</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart4" width="100" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/경제.html'">
                        <h5>경 제</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart5" width="100" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/생활문화.html'">
                        <h5>생 활/문 화</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart6" width="100" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/세계.html'">
                        <h5>세 계</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart7" width="100" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/IT과학.html'">
                        <h5>I T/과 학</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart8" width="100" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/스포츠.html'">
                        <h5>스 포 츠</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>



      <script>
      data = {
            datasets: [{
                backgroundColor: ['gray','red','blue'],
                data: [37, 33, 30]
            }],


       };
        var ctx2 = document.getElementById("myChart1");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
         data = {
            datasets: [{
                backgroundColor: ['red','gray','blue'],
                data: [40, 38, 22]
            }],


       };
        var ctx2 = document.getElementById("myChart2");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
         data = {
            datasets: [{
                backgroundColor: ['red','gray','blue'],
                data: [35, 28, 37]
            }],


       };
        var ctx2 = document.getElementById("myChart3");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
         data = {
            datasets: [{
                backgroundColor: ['red','gray','blue'],
                data: [44, 26, 30]
            }],


       };
        var ctx2 = document.getElementById("myChart4");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
         data = {
            datasets: [{
                backgroundColor: ['red','gray','blue'],
                data: [30, 39, 31]
            }],


       };
        var ctx2 = document.getElementById("myChart5");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
         data = {
            datasets: [{
                backgroundColor: ['red','gray','blue'],
                data: [40, 30, 30]
            }],


       };
        var ctx2 = document.getElementById("myChart6");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
         data = {
            datasets: [{
                backgroundColor: ['red','gray','blue'],
                data: [38, 32, 30]
            }],


       };
        var ctx2 = document.getElementById("myChart7");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
         data = {
            datasets: [{
                backgroundColor: ['red','gray','blue'],
                data: [34, 36, 30]
            }],


       };
        var ctx2 = document.getElementById("myChart8");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });

      </script>

    <div class="container border">
        <div class="row">
            <div class="col-sm-4 border">
                <h6>사회 뉴스중 HOT topic</h6>
    <div class="nav flex-column nav-pills" id="전체핫토픽" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="핫토픽1" data-toggle="tab" href="#요약문1" role="tab" aria-controls="요약문1" aria-selected="true">금일의 핫토픽 1번</a>
      <a class="nav-link" id="핫토픽2" data-toggle="tab" href="#요약문2" role="tab" aria-controls="요약문2" aria-selected="false">금일의 핫토픽 2번</a>
      <a class="nav-link" id="핫토픽3" data-toggle="tab" href="#요약문3" role="tab" aria-controls="요약문3" aria-selected="false">금일의 핫토픽 3번</a>
      <a class="nav-link" id="핫토픽4" data-toggle="tab" href="#요약문4" role="tab" aria-controls="요약문4" aria-selected="false">금일의 핫토픽 4번</a>
    </div>
  </div>
  <div class="col-sm-4 border">
    <div class="tab-content" id="요약문들">
      <div class="tab-pane fade show active" id="요약문1" role="tabpanel" aria-labelledby="요약문1-tab">
          <h6>기사들의 요약문</h6>
          <a class="card">
              <div class="card-body border">
            <p class="card-text" onclick="window.open('http://www.naver.com','기사 원문 1','width=1000px,height=700px,location=center,status=no,scrollbars=yes');">기사 1번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text" onclick="window.open('http://www.daum.net','기사 원문 2','width=1000px,height=700px,location=no,status=no,scrollbars=yes');">기사 2번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text" onclick="window.open('http://www.nate.com','기사 원문 3','width=1000px,height=700px,location=no,status=no,scrollbars=yes');">기사 3번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text" onclick="window.open('http://www.naver.com','기사 원문 4','width=1000px,height=700px,location=no,status=no,scrollbars=yes');">기사 4번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text" onclick="window.open('http://www.naver.com','기사 원문 5','width=1000px,height=700px,location=no,status=no,scrollbars=yes');">기사 5번의 요약문</p>
          </div>
          </a>
      </div>
      <div class="tab-pane fade" id="요약문2" role="tabpanel" aria-labelledby="요약문2-tab">
          <h6>기사들의 요약문</h6>
          <a class="card">
              <div class="card-body border">
            <p class="card-text">기사 1번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text">기사 2번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text">기사 3번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text">기사 4번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text">기사 5번의 요약문</p>
          </div>
          </a>
      </div>
      <div class="tab-pane fade" id="요약문3" role="tabpanel" aria-labelledby="요약문3-tab">
          <h6>기사들의 요약문</h6>
          <a class="card">
              <div class="card-body border">
            <p class="card-text">기사 1번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text">기사 2번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text">기사 3번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text">기사 4번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text">기사 5번의 요약문</p>
          </div>
          </a>
      </div>
      <div class="tab-pane fade" id="요약문4" role="tabpanel" aria-labelledby="요약문4-tab">
          <h6>기사들의 요약문</h6>
          <a class="card">
              <div class="card-body border">
            <p class="card-text">기사 1번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text">기사 2번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text">기사 3번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text">기사 4번의 요약문</p>
          </div>
          <div class="card-body border">
            <p class="card-text">기사 5번의 요약문</p>
          </div>
          </a>
  </div>


    </div>
    </div>



  <!-- Bootstrap core JavaScript -->
  <script src='{% static "js/jquery.min.js" %}'></script>
  <script src="https://cdn.js.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src='{% static "js/bootstrap.min.js" %}'></script>
  <script src='{% static "js/chart.min.js" %}'></script>
  <script src='{% static "js/chart.bundle.min.js" %}'></script>



</body>

</html>
